h1 {
    color:bisque
}
h2 {
    color: bisque;
}
h3 {
    color: bisque;
}
h4 {
    color: bisque;
}
h6 {
    color: bisque;
}
p {
    color:bisque;
}

a {
    color:goldenrod
    
}
a {
    text-decoration: none;
    font-weight: 200;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    color: hsl(171, 67%, 65%);

}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

form {
    color:peru;
}
body {
    background-color:rgb(106, 19, 19);
    
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: gold underline;
    font-weight: bolder;
    
}



